<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Lista de funcionários</title>
    <link rel="stylesheet" href="/libs/materialize/css/materialize.min.css" />
</head>
<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Onde almoçar</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Votação</a> </li>
            <li class="active"><a href="/funcionarios">Funcionários</a></li>
            <li><a href="/restaurantes">Restaurantes</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Onde almoçar</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="app">
    <div class="container">
        <br/><br/>

        <div>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Criar funcionário</a>
            <a class="waves-effect waves-light btn modal-trigger" v-on:click="search">Atualizar</a>
        </div>


        <table v-if="!loading" class="centered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Ativo</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="funcionarios.length == 0">
                    <td colspan="4">Ainda não existem funcionários cadastrados.</td>
                </tr>
                <tr v-for="funcionario in funcionarios">
                    <td>{{ funcionario.id }}</td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.enabled }}</td>
                    <td>
                        <button v-on:click="editar(funcionario)" class="btn">Editar</button>
                        <button v-on:click="deletar(funcionario)" class="btn">Deletar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div v-if="loading" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>

        <br/><br/>

    </div>

    <div id="modal1" class="modal modal-fixed-footer">
        <form v-on:submit="createFuncionario">
            <div class="modal-content">
                <h4>Criar novo funcionário</h4>
                <p>Insira os dados do novo funcionário:</p>
                <div class="row">

                        <div class="input-field">
                            <label for="nome">Nome</label>
                            <input type="text" id="nome" required="true" v-model="nFuncionario.nome" />
                        </div>
                        <div class="switch">
                            <label>
                                Inativo
                                <input type="checkbox" v-model="nFuncionario.enabled" />
                                <span class="lever"></span>
                                Ativo
                            </label>
                        </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
                <button type="submit" class="modal-action waves-effect waves-green btn-flat ">Salvar</button>
            </div>
        </form>
    </div>

    <div id="modalEditar" class="modal modal-fixed-footer">
        <form v-on:submit="updateFuncionario">
            <div class="modal-content">
                <h4>Editar funcionário</h4>
                <p>Modifique os dados do funcionário:</p>
                <div class="row">

                        <div class="input-field">
                            <label for="nome2">Nome</label>
                            <input type="text" id="nome2" required="true" v-model="editFuncionario.nome" />
                        </div>
                        <div class="switch">
                            <label>
                                Inativo
                                <input type="checkbox" v-model="editFuncionario.enabled" />
                                <span class="lever"></span>
                                Ativo
                            </label>
                        </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
                <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Salvar</button>
            </div>
        </form>
    </div>

</div>


<script src="/libs/jquery/js/jquery-3.2.1.min.js"></script>
<script src="/libs/underscore/js/underscore-min.js"></script>
<script src="/libs/materialize/js/materialize.min.js"></script>
<script src="/libs/vue/js/vue.min.js"></script>
<script src="/libs/vue/js/vue-resource.min.js"></script>
<script src="/js/funcionarios.js"></script>
</body>
</html>